In [ ]:
import numpy as np
import pandas as pd
from datetime import date

import matplotlib.pyplot as plt
import matplotlib as mpl

ModuleNotFoundError: No module named 'google'

In [30]:
# Reading excel file
books_read = pd.read_excel('info.xlsx', sheet_name='Books Read')
books_read = books_read.drop(columns=['Pages Read', 'Pages Read.1', 'Complete', 'End Date', 'Progress'])

books_read.pivot_table(index=['Date', 'Title'], values=['Current Page', 'Pages'], fill_value=0)

                                               Current Page  Pages
Date       Title
2025-01-14 El Ultimo Tren a Memphis              149.000000  494.0
2025-01-18 El Ultimo Tren a Memphis              187.000000  494.0
2025-01-19 El Ultimo Tren a Memphis              223.000000  494.0
2025-01-21 El Ultimo Tren a Memphis              232.000000  494.0
2025-01-23 El Ultimo Tren a Memphis              251.000000  494.0
...                                                     ...    ...
2025-05-19 El origen de las especies             360.000000  479.0
2025-05-20 El origen de las especies             420.000000  479.0
2025-05-21 El origen de las especies             479.000000  479.0
2025-05-23 El camino estoco para la felicidad    150.000000  187.0
2025-05-24 El camino estoco para la felicidad    112.333333  187.0

[73 rows x 2 columns]

In [26]:
books_read

,Title,Date,Start Date,Pages,Current Page
0,El Sindrome Del Impostor,2025-04-08,2024-12-23,250,141
1,El Ultimo Tren a Memphis,2025-01-14,NaT,494,139
2,El Ultimo Tren a Memphis,2025-01-14,NaT,494,142
3,El Ultimo Tren a Memphis,2025-01-14,NaT,494,166
4,El Ultimo Tren a Memphis,2025-01-18,NaT,494,187
...,...,...,...,...,...
74,El origen de las especies,2025-05-20,2025-04-29,479,420
75,El origen de las especies,2025-05-21,2025-04-29,479,479
76,El camino estoco para la felicidad,2025-05-24,2025-04-28,187,100
77,El camino estoco para la felicidad,2025-05-23,2025-04-28,187,150
78,El camino estoco para la felicidad,2025-05-24,2025-04-28,187,187